app/skills/n8n-automation-builder/examples/comment-to-dm-workflow.json
{
  "name": "Instagram Comments to ManyChat DM Automation",
  "nodes": [
    {
      "parameters": {
        "resource": "comment",
        "operation": "getAll",
        "additionalFields": {
          "instagramBusinessAccountId": "YOUR_INSTAGRAM_BUSINESS_ACCOUNT_ID",
          "reelId": "YOUR_REEL_ID"
        },
        "returnAll": true
      },
      "name": "Instagram Comment Trigger",
      "type": "n8n-nodes-base.instagram",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"subscriber_id\":\"={{$json[\\\"user_id\\\"]}}\",\"content\":{\"messages\":[{\"text\":\"Here is the product cost you requested: {{ $json[\\\"product_cost\\\"] }}\"}]}}"
      },
      "name": "Send ManyChat DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "const comments = $input.all();\nconst keywordMap = {\n  price: 'ProductCost1',\n  cost: 'ProductCost2',\n  pricing: 'ProductCost3'\n};\nconst response = [];\ncomments.forEach(comment => {\n  let text = comment.json.text.toLowerCase();\n  for (const keyword in keywordMap) {\n    if (text.includes(keyword)) {\n      response.push({json: {user_id: comment.json.user.id, product_cost: keywordMap[keyword]}});\n      break;\n    }\n  }\n});\nreturn response;"
      },
      "name": "Parse Comments and Map Costs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300]
    }
  ],
  "connections": {
    "Instagram Comment Trigger": {
      "main": [
        [
          {
            "node": "Parse Comments and Map Costs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Comments and Map Costs": {
      "main": [
        [
          {
            "node": "Send ManyChat DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
